<footer class="site-footer">
    <div class="wrapper">
        
        <!-- disquss -->

        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <br />

        <h2 class="footer-heading" align="center">
            nosorog.net
        </h2>

        <p align="center">
            <strong>Make JavaScript Great Again</strong
            >
        </p>
    </div>
</footer>
