<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/devops/">Docker / Kubernetes / Clouds</a>
        <a class="page-link" href="//programmist.net">MachineLearning / Artificial intelligence</a>
        <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a>
      </div>
    </nav>

  </div>

</header>